* {
    box-sizing: border-box;
    text-decoration: none !important;
}

body {
    background-color: #f2f0f0;
    position: relative;
    min-height: 100vh;
    padding: 0 0;
    margin: 0;
    box-sizing: border-box !important;
}

.slider-container {
    position: relative;
    text-align: center;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: red;
}

header {
    padding-bottom: 60px;
}

main{
    padding-bottom: 50px;
}

.item {
    padding-bottom: 20px;
}

#seitentitel {
    padding-top: 10px;
    padding-left: 15px;
}

.product-number {
    color: #ffffff;
    font-size: 40px;
    position: absolute;
    top: 10px;
    width: 100%;
}

.caption {
    color: #f23540;
    font-size: 60px;
    position: absolute;
    bottom: 40px;
    width: 100%;
}

/* Product*/
#prodImage {
    padding-bottom: 30px;
}

#rezesion {
    padding-top: 50px;
}

/* Einkaufswagen*/
.inventory {
    margin-top: 1em;
}


.inv-product {
    display: flex;
    margin: 0;
    padding: 1em;
    align-items: center;
    border-bottom-style: solid;
    flex: 1 1 auto;

}

.cart-image {
    padding-right: 1em;
    width: 10%;
}

.cart-pname {
    width: 25%;
}

.amount {
    width: 45%;
    text-align: right;
}

.priceper {
    width: 10%;
    padding-left: 1em;
}

p.product-price {
    color: #e2001a;
}

.sum {
    width: 10%;
    padding-left: 1em;
}

#total {
    padding-top: 2em;
    display: flex;
    margin-left: 90.5%;
    padding-bottom: 2em;
}

/* Refresh Button*/

.delBtn, .refreshBtn {
    padding: 0 1em 0 1em;
    background-color: #f23540;
    border-radius: 0.5em;
    color: white;
    height: 2em;
    border-style: none;
    box-shadow: 1px 1px 3px #00000080;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 0.5em;
}

.amount .order {
    margin-left: 0.5em;
}

.order {
    float: right;
    text-align: center;
}

.divAlert {
    font-size: 2em;
    font-weight: bold;
}

@media (max-width: 772px) {
     .priceper, .sum {
        display: none;
         width: 0.5%;
    }

    .amount {
        width: 59%;
        text-align: right;
    }

    .inv-product .cart-pname {
        width: 30%;
    }

}

@media (max-width: 430px) {
    .inv-product .cart-image{
        display: none;
    }
    .delBtn, .refreshBtn {
        font-size: 0.7em;
    }
}

@media (max-width: 376px) {
    .modal-footer .into-inventory {
        font-size: 12px;
    }
}

/*Ende Einkaufswagen*/

#nameinfo, #mailinfo, #cominfo {
    color: #f23540;
}


/* Kommentare*/
span.customer-name {
    color: #f23540;
}

.container-fluid {
    width: 80%;
}

.container {
    width: 90%;
   min-height: calc(100vh - 330px);
}


.category {
    display: inline-flex;

}

.prodBild {
    /*padding-left: 50px;*/
    height: 300px;
    overflow: hidden;
    text-align: center;
    margin: -10px -10px 0;
    border-radius: 12px 12px 0 0;
    /*border-bottom: 1px solid rgba(0,0,0,0.2);*/
    /*background-color: rgba(254,254,254,0.5);*/
}
.prodBild img {
    max-height: 280px;
    width: auto;
    margin: 10px;
}

#prodImage {
    padding-bottom: 1.5em;
}
.product {
    /*padding-bottom: 3rem;*/
    /*box-shadow: 2px 2px 5px rgba(0,0,0,0.2);*/
    /*padding: 0 10px 30px;*/
    border-radius: 12px;
    margin: 30px 0 30px;
    background-color: rgba(254,254,254,0.3);
}

.checked {
    color: #ffc700;
}

/*bootstra*/
.carousel-caption {
    padding-left: 10vw;
    bottom: 30%;
    color: #f23540;
}
.carousel-caption h3 {
    font-size: 4vw;
}

.carousel-caption p {
    font-size: 2vw;
}

.d-none {
    display: block !important;
}

@media (max-width: 576px) {
    .carousel-indicators {
        display: none;
    }
}

#carousel-img {
    width: 100px;
}

.carousel-indicators li {
    background-color: rgba(242, 53, 64, 0.74);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(226, 0, 26)' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

textarea {
    resize: none;
    outline: none;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(226, 0, 26)' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

/* Navbar*/

#navbar {
    overflow: hidden !important;
    z-index: 1 !important;
}

.content {
    padding-top: 40px !important;
}

textarea {
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.sticky {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
}

.sticky + .content {
    padding-top: 95px !important;
}

.navbar {
    background-color: #e2001a !important;
    top: 0;
}

.nav-link {
    color: lightgray !important;
}

.nav-link:hover {
    color: white !important;
}

.nav-link.active {
    color: white !important;
    font-weight: bold;
}


h2, h3 {
    color: #f23540;
}

h3:hover {
    color: #e2001a;
}

button.into-inventory, .write-comment, .order {
    padding: 0 1em 0 1em;
    background-color: #f23540;
    border-radius: 0.5em;
    color: white;
    height: 2em;
    border-style: none;
    box-shadow: 1px 1px 3px #00000080;

    overflow: hidden;
    text-overflow: ellipsis;
}

button.into-inventory:hover, .write-comment:hover, .order:hover {
    background-color: #e2001a;
    color: white;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: 80px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #e2001a;
    color: white;

}

footer p {
    padding: 0.5em 0 0 0;
    margin: 0;
    font-size: small;
}

#credits {
    padding: 0;
    margin: 0;
}

/* Sterne Review*/
.rate {
    float: left;
    height: 46px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1.2em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {

}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}



